/* Video
-------------------------------------------------- */
a.as-video {
	text-decoration: none;
}

a.as-video img {
	backface-visibility: hidden;
	border: none;
}

a.as-video::after {
	content: "\25B6";
	position: absolute;
	width: 45px;
	padding-left: 5px;
	height: 50px;
	border: 2px solid #fff;
	text-align: center;
	font-size: 30px;
	border-radius: 30px;
	top: 0;
	color: #fff;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgb(0 0 0 / 20%);
	margin: auto;
	line-height: 52px;
}
